#currentrole {
border-style: solid;
background-color:#32362c;
color: white; 
width: 22%;
height: 120px;
font-size: 18px;
line-height: 1.8;
text-align: center;
position: relative ;
left: 1px;
}

a { 
    color:white;
}