#ot { 
    position: relative; 
    text-align: center; 

}

#currentrole {
border-style: solid;
background-color:#32362c;
color: white; 
width: 22%;
height: 120px;
font-size: 18px;
line-height: 1.8;
text-align: center;
position: relative ;
left: 600px;
}

a { 
    color:white;
}
img {
    height: 450px;
    width: 350px;
    position: relative;
    left: 200px;
    bottom: 120px;
    float:left;


}